@import './basic_setup/variables';
@import './basic_setup/grid';
@import './basic_setup/normalize';
@import './basic_setup/basic_classes';
@import './basic_setup/navbar';
@import './basic_setup/video-card';
@import './basic_setup/video-details';


body {
    background-color: #fafafa;
}

.search-results {
    .container {
        .col-10 {
            margin-bottom: 15px;
        }
    }
}

.btn-load-more {
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

