@import './basic_setup/variables';
@import './basic_setup/grid';
@import './basic_setup/normalize';

body {
    background-color: $white;
}

h1 , p , span {
    background-color: $white;
}

.card {
    margin-bottom: $mb;
}