<nav class="navbar navbar-youtube">
  <div class="container">

    <div class="row">
      <div class="col-1 col-offset-1">
        <youtube-logo></youtube-logo>
      </div>
      <div class="col-8 col-offset-1">
        <form class="form-group-search" ng-submit="getSearched()">
          <div class="search-holder">
            <input type="text" class="form-control" ng-model="search">
          </div>
          <button type="submit" class="btn btn-search">
            <i class="fa fa-search fa-1x"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>