
.video-details {
    .container {
        background-color: white;
            hr {
                border: 0.5px solid #DDD;
                width: 96%;
            }
            iframe {
                width: 100%;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .col-6 {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .fa {
                    color: #888;
                    cursor: pointer;
                    &:hover {
                       color: #555; 
                    }
                }
                span {
                    color: #555;
                }
            }
            .row {
                .col-10 {
                    margin-bottom: 15px;
                }
            }
            .channel-data {
                padding: 10px;
                margin-bottom: 15px;
            }
            .row {
                .col-5 {
                    .item {
                        margin-top: 10px;
                        p {
                            margin:0;
                            margin-bottom: 3px;
                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                    
                }
                .col-2 {
                    .img-color {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: $green;
                        width: 60px;
                        height: 60px;
                        cursor: pointer;
                    }
                }
            }
    }
}
