<div class="container">
    <p ng-if="totalResults">About {{ totalResults }} Filtered Results</p>
</div>
<hr class="container" style="margin-bottom: 25px">
<div class="search-results">
    <div class="container">
        <div class="row">
            <div class="col-10" ng-repeat="item in items | limitTo:limit">
                <app-card-video
                    snippet="item.snippet"
                    item="item"
                ></app-card-video>
            </div>
        </div>
        <div class="loader" ng-if="spinning"></div>
        <button class="btn-load-more" ng-if="!spinning" ng-click="loadMore()">Load More</button>
    </div>
</div>